.wrap{
    border:1px solid #999;
    width: 300px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 13px;
    color: #333;
}

/***** 채팅창영역 *****/
.chat_area{
    height: 350px;
    background: #acc2d2;
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* 말풍선 메세지 영역 */
.chat_area .item + .item{
    margin-top:15px;
}
.chat_area .item.mymsg{
    text-align: right;
}

/* 말풍선 */
.chat_area .item .box{
    display: inline-block;
    max-width: 180px;
    position: relative;
}

.chat_area .item .box:before{
    content: "";
    display:block;
    width: 0;
    height: 0;
    border-top: 0 solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff;
    position: absolute;
    left: -8px;
    top: 6px;
}

.chat_area .item.mymsg .box:before{
    border-right: 0;
    border-left: 8px solid #fee600;
    left: auto;
    right: -8px;
}

.chat_area .item .box .msg{
    background: #fff;
    padding: 8px;
    border-radius: 8px;
}

.chat_area .item.mymsg .box .msg{
    background: #fee600;
}
.chat_area .item .box .time{
    position: absolute;
    right: -75px;
    width: 70px;
    bottom:3px;
    font-size: 11px;
    color: #999;
}
.chat_area .item.mymsg .box .time{
    right: auto;
    left: -75px;
}

/***** 입력창영역 *****/
.input_area{
    margin-top: 5px;
   
}
.input_area > input[type="text"]{
    width:100%;
    box-sizing: border-box;
    border: 0px;
    background: #ddd;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;   
}
.input_area > input[type="text"] + input[type="text"]{
    margin-top:5px;
}
.input_area > input[type="text"]::placeholder{
    color:#999;
}

/***** 모바일영역 *****/
@media all and (max-width:768px){
    html, body{
        height:100%
    }
    .wrap{
    width:auto;
    height:100%;
    border: none;
    font-size: 15px;
    }
    .chat_area{
        height: calc(100% - 135px);
    }
    .chat_area .item .box .msg{
        font-size: 17px;
    }
    .input_area > input[type="text"]{
        height: 50px;
    }
}



